<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="300">
        <div class="container">
            <div class="navbar-translate">
               <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
                <a class="navbar-brand" href="/" rel="tooltip"
                    title="Coded by Creative Tim" data-placement="bottom">
                    Posist Team Messaging App
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/createchannel" class="nav-link"><i class="fa fa-add"></i> Create Channel</a>
                    </li>
                    <li class="nav-item">
                        <a href="/joinchannel" class="nav-link"><i class="fa fa-user"></i> Join Channel</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>