<ng-header></ng-header>
<div class="main">
    <div class="section">
        <div class="container custpadding">
            <div class="row">
                <div ng-show="myChannels.length != 0" class="card" ng-repeat="c in myChannels"
                    style="width:300px;margin-right: 30px;">
                    <img class="card-img-top" src="assets/img/channel.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">{{c.name}}</h4>
                        <p class="card-text">{{c.description}}</p>
                        <a href="/channel/{{c._id}}" class="btn btn-primary">Explore</a>
                    </div>
                </div>

                <div ng-show="myChannels.length == 0" class="jumbotron jumbotron-fluid col-md-12 text-center">
                    <h1>No Channels joined yet</h1>
                    <p>Explore new channels and join them</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h3>Trending Channels</h3>
                    <ol>
                        <li ng-repeat="c in trendingChannels">{{c.name}}</li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <h3>Most Active Users</h3>
                    <ol>
                        <li ng-repeat="c in activeUsers">{{c.matched_docs[0].username}}</li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <h3>Trending Tags</h3>
                    <ol>
                        <li ng-repeat="c in tags">{{c._id}}</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Trending Regions</h3>
                    <ol>
                        <li ng-repeat="c in regions">{{c._id}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>